*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-brand: #CA3884;
  --color-brand-hover: #A52C6B;
  --color-danger: #C93847;

  --content-primary: #080B12;
  --content-secondary: #374151;
  --content-tertiary: #9CA3AF;
  --always-white: #FFFFFF;

  --border-primary: #D1D5DB;
  --border-hover: #B9C2D0;

  --background-primary: #F4F5FB;
  --background-secondary: #FFFFFF;

  --ff-base: "Inter", sans-serif;

  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 2.5rem;
  --text-xl: 4rem;
}

a {
  text-decoration: none;
  color: var(--color-brand);
}

html,
button {
  font: 500 1rem/1.25 var(--ff-base);
}

h1 {
  font-family: var(--ff-base);
  color: var(--content-primary);
  margin-top: 1rem;
  margin-bottom: 2.75rem;
}

body {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  gap: 3.12rem;

  background-color: var(--background-primary);
}

main {
  width: 20rem;

  overflow-y: hidden;
}